{
    "env": {
        "production": {
            "presets": [
                "react",
                "es2015",
                "stage-2"
            ]
        },
        "development": {
            "plugins": [
                "react-hot-loader/babel",
                [
                    "css-modules-transform",
                    {
                        "extractCss": "./dist/client/main.css",
                        "keepImport": true
                    }
                ],
                [
                    "transform-runtime",
                    {
                        "regenerator": true
                    }
                ]
            ],
            "presets": [
                "react",
                "es2015",
                "stage-2"
            ]
        }
    }
}